* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#548687 ;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height:18vmin ;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 1rem rgb(44, 43, 43);
    font-size: 8vmin;
    color:rgb(218, 34, 34) ;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(40, 38, 38);
    color: aqua;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(40, 38, 38);
    color: aqua;
}
#msg{
    color: yellowgreen;
    font-size: 5vmin;
}
.msg-container{
    height: 22vmin;
    gap:4rem;
}
.hide{
    display: none;
}
